/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
    max-width:100%;
    border:1px solid grey;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
/* General Styles */
* {
padding:0;
margin:0;
max-width:100%;
box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size:1.5rem;
    font-family: 'Nunito', sans-serif;
}
header{
    background-color: aquamarine;
    height:20vh;
    padding:2%;
}
header h1{
    width:20%;
    font-size:35px;
    color:rgb(44, 35, 35);
}
header nav{
    display:flex;
    align-items:flex-end;
    height:7vh
}
header nav a{
    font-size: 1.12em;
    border-color: hotpink;
    padding: 0.6% 0.6%;
    width: 10%;
    text-align:center;
    border-width:3px;
}
.about {
    width:55%;
    height:100vh;
    padding:10%;
    display:flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    margin-left: 50%;
    margin-top:45px;
    font-size: large;
    line-height: 43px;    
}
.Info .picture{
    width: 49%;
    display:flex;
    align-content:flex-end;
    justify-content: center;
    margin-top:40px;
}
.about h2{
    font-size: 2em;
    padding:2%
}
.slideshow{
    background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}
.slideshow div{
    display: flex;
  flex-direction: column;
  width: 25%;
  padding: 3% 2% 2%;
}